node_modules
.git
.dockerignore
.gitignore
.env
.env.*

previews/
dist
.temp
.drizzle
tests

# OS/Editor Files
.DS_Store
.vscode
.idea

# Build Files & Logs
Dockerfile
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
coverage/

# Documentation
*.md