# SERVER CONFIG
NODE_ENV=""
PORT=""
ALLOW_DOMAINS=""

# DB CONFIG
DB_HOST=""
DB_PORT=""
DB_USER=""
DB_PASSWORD=""
DB_NAME=""

# REDIS CONFIG
REDIS_URL=""
REDIS_MQ_URL=""

# AUTH CONFIG
JWT_SECRET=""
JWT_EXPIRES_IN=""
SESSION_TTL_DAYS=""

# OTP CONFIG
DEVELOPMENT_OTP=""
OTP_RETRY_LIMIT=""
OTP_EXPIRY_MINUTES=""

# S3 CONFIG
S3_ENDPOINT=""
S3_ACCESS_KEY=""
S3_SECRET_KEY=""
FILES_BUCKET=""

# AI CONFIG
GOOGLE_API_KEY=""